.tables-exchange-section {
  width: 930px;
  margin: 0 auto;
  justify-content: center;
}

.features--squares {
  width: 930px;
  margin: 30px auto;
}

.plan-payment--cards {
  width: 930px;
  margin: 0 auto;
  justify-content: center;
}