:root{
  /*Colors*/
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D4;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black-plus: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 6.25%;
  font-family: 'DM Sans', sans-serif;
}

/*Header*/

header{
  font-size:16rem;
  height: 295px;
  width: 100%;
  min-width: 288px;
  background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  position: absolute;
  align-self: center;
  top: 14%;
}

.header__container{
  position: relative;
  top:96px;
  width: 90%;
  max-width: 900px;
  min-width: 288px;
  text-align: center;
 }

 .header__container h1{
   position: relative;
   font-size: 24rem;
   color: var(--just-white);
 }

 .header__container p{
   position: relative;
   top: 24px;
   font-size: 14rem;
   color: var(--soft-orange);
 }

 .header__button{
   display: inline-block;
   position: relative;
   width: 229px;
   height: 48px;
   top: 40px;
   padding: 15px 16px;
   background-color: var(--off-white);
   font-size: 14rem;
   /*Font styles of button's text*/
   text-decoration: none;
   color: var(--warm-black);
   font-weight: bold;
   font-size: 14rem;
   /*Style of button*/
   border-radius: 4rem;
   box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
 }

 .header__button span{
   display: inline-block;
   padding: 6px;
   position: relative;
   bottom: 6px;
 }

/*Main*/
/*1st: Exchange section*/

 main{
   width: 100%;
   height: auto;
   background-color: var(--off-white);
  }

 .main-exchange {
   height: auto;
   width: 100%;
   padding-top: 80px;
   padding-bottom: 30px;
 }

 .main-exchange--logo{
   height: 195px;
   width: 195px;
   margin: 0 auto;
   background-image: url('./Assets/images/bitcoin.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .main-exchange--text{
   height: auto;
   width: 90%;
   min-width: 288px;
   max-width: 900px;
   text-align: center;
   margin: 0 auto;
 }

 .main-exchange--text h2{
   margin-bottom: 24px;
   font-size: 24rem;
   line-height: 26rem;
   color: var(--warm-black);
   font-weight: bold;
 }

 .main-exchange--text p{
  margin-bottom: 24px;
  font-size: 14rem;
  line-height: 18rem;
  color: #757575;
  font-weight: 500;
 }

 .main-exchange--table{
   height: 194px;
   width: 235px;
   max-width: 500px;
   margin: 0 auto;
 }

 .main-exchange--table table{
    margin: 0 auto;
 }

 .exchange--table__title{
    font-size: 18rem;
    line-height: 23rem;
    font-weight: bold;
    color: #FF9536;
    margin-bottom: 5px;
    display: inline-block;
    padding-left: 25px;
 }

 .table--left{
   height: 39px;
   width: 101px;
   font-family: Inter;
   font-size: 16rem;
   line-height: 19rem;
   font-weight: 500;
   color: #B5B0AC;
   background-color: var(--just-white);
   padding: 0px 10px;
 }

 .table--right{
   height: 39px;
   width: 95px;
   font-family: Inter;
   font-size: 14rem;
   line-height: 17rem;
   color: #757575;
   background-color: var(--just-white);
   padding: 0px 10px;
 }

 .down{
   height: 12px;
   width: 12px;
   display: inline-block;
   margin-left: 10px;
   background-image: url('./Assets/icons/trending-down.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .up{
  height: 12px;
  width: 12px;
  display: inline-block;
  margin-left: 10px;
  background-image: url('./Assets/icons/trending-up.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table--left__up{
  border-radius: 5px 0 0 0;
}

.table--right__up{
  border-radius: 0 5px 0 0;
}

.table--right__down{
  border-radius: 0 0 5px 0;
}

.table--left__down{
  border-radius: 0 0 0 5px;
}

.exchange--table__actualization{
  height: 30px;
  width: 190px;
  margin: 0 auto;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 5px;
}

.exchange--table__actualization p{
  font-size: 12rem;
  line-height: 15rem;
  color: var(--warm-black);
  text-align: center;
}