:root{
  /*Colors*/
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D4;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black-plus: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 6.25%;
  font-family: 'DM Sans', sans-serif;
}

header{
  font-size:16rem;
  height: 295rem;
  background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  position: absolute;
  top: 14%;
  left: 26%;
}

.header--container{
  position: relative;
  top:96rem;
  width: 288rem;
  text-align: center;
 }

 .header--container h1{
   position: relative;
   font-size: 24rem;
 }

 .header--container p{
   position: relative;
   top: 24rem;
   font-size: 14rem;
 }

 .header--button{
   display: inline-block;
   position: relative;
   top: 40rem;
   padding: 15rem 16rem;
   background-color: var(--off-white);
   font-size: 14rem;
 } 